<!--<p>-->
<!--  save-job works!-->
<!--</p>-->



<div class="recruter-profile-modal">
  <span class="modal__close">X</span>
  <div class="Recruiter_box">
    <h1>Let’s add another job</h1>
    <p>Complete job details</p>

<form>
    <div>
      <label>Job Title *</label>
      <input type="text">
    </div>
    <div>
      <label>Industry *</label>
      <input type="text">
    </div>
    <div>
      <label>Company *</label>
      <input type="text">
    </div>
    <div>
      <label>Location *</label>
      <input type="text">
    </div>
    <div>
      <label>Full-time | Part-time | Contract *</label>
      <select>
        <option></option>
        <option>1</option>
        <option>2</option>
      </select>
    </div>
    <div class="Preferred_Skills">
      <label>Preferred Skills</label>
      <div class="skills">
        <div class="skills_buttons delete center">Java<span class="delete">X</span></div>
        <div class="skills_buttons add center">Add<span class="add">+</span></div>
      </div>
    </div>
</form>
    <button class="post_job_btn">Post Job</button>
    <button class="Cancel_btn">Cancel</button>
  </div>
</div>
