<div class="loginContainer">
    <mat-card-title>Login to your account</mat-card-title>
    <form [formGroup]="loginForm">

        <!-- E-mail field -->
        <mat-form-field appearance="outline">
            <mat-label>E-mail</mat-label>
            <input type="text" matInput required formControlName="email">
        </mat-form-field>

        <!-- Password field -->
        <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input type="password" matInput required formControlName="password">
        </mat-form-field>


        <!-- Regular & social login buttons -->
        <div class="loginBtns">
            <a mat-icon-button [href]="apiUrl+'auth/facebook'" class="facebookLoginBtn">
                <i class="fab fa-facebook-square"></i>
            </a>
            <button mat-raised-button color="primary" (click)="login()" class="regularLoginBtn">
                <span>Login</span>
            </button>
            <br><br>
            <button mat-button class="forgotBtn">
                Forgot Password
            </button>
            <a mat-icon-button [href]="apiUrl+'auth/google'" class="googleLoginBtn">
                <i class="fab fa-google"></i>
            </a>
            <a mat-icon-button (click)="fbAuth()" class="fbAltBtn">
                <i class="fab fa-facebook"></i>
            </a>
        </div>

    </form>
</div>
