//.loginContainer {
//  //height: 100vh;
//
//  mat-card {
//
//    width: 350px;
//    height: 466px;
//
//    position: absolute; /*it can be fixed too*/
//    left: 0;
//    right: 0;
//    top: 0;
//    bottom: 0;
//    margin: auto;
//
//    /*this to solve "the content will not be cut when the window is smaller than the content": */
//    max-width: 100%;
//    max-height: 100%;
//    overflow: hidden;
//
//    .loginBtns {
//      display: flex;
//      justify-content: space-around;
//      //margin-top: 310px;
//
//      .facebookLoginBtn, .googleLoginBtn {
//        i {
//          font-size: 30px;
//        }
//      }
//
//      .fbAltBtn {
//        display: none;
//      }
//
//      button {
//        display: block;
//        width: 187px;
//        height: 54px;
//
//      }
//    }
//  }
//}
//
//div.loginBtns, .mat-card-title {
//  text-align: center;
//}
//


.loginBtns {
  padding-top: 20px;
  text-align: center;

  .facebookLoginBtn, .googleLoginBtn, .fbAltBtn {
    display: none;
  }

  .regularLoginBtn {
    width: 187px;
    height: 54px;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(74, 74, 74, 0.24);
    border: 1px solid #36d26b;
    background-color: #36d26b;

    span {
      width: 48px;
      height: 22px;
      font-family: opensans_semibold, Helvetica, Arial, sans-serif;
      font-size: 16px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: var(--white-two);
    }
  }
}

.loginContainer {
  text-align: center;
  padding-top: 25px;

  .mat-card-title {
    font-size: 24px;
    font-weight: 500;
    color: #3c3f40;
    font-family: opensans_bold;
    font-weight: bold;
    text-align: center;
    margin: 24px auto;
  }

  form {
    padding-top: 24px;

    div {
      text-align: left;

      label {
        color: #444;
        font-size: 14px;
        margin-bottom: 8px;
        font-family: opensans_regular, Helvetica, Arial, sans-serif
      }

      input {
        border: 1px solid #b1b1b1;
        border-radius: 5px;
        padding: 10px;
        max-width: 400px;
        width: 100%;
        margin-right: 10px;
        margin-bottom: 20px
      }

      &:last-child {
        text-align: center;
      }
    }

    .forgotBtn {
      max-width: 187px;
      width: 100%;
      height: 54px;
      border-radius: 5px;
      box-shadow: 0 2px 4px 0 rgba(74, 74, 74, 0.24);
      background-color: #2e3132;
      color: #ffffff;
      font-family: opensans_bold;
      font-size: 16px;
      font-weight: bold;
    }
  }
}
