<div class="loginContainer">
    <mat-card-title>Login to your account</mat-card-title>
    <form [formGroup]="loginForm">
        <div class="email">
            <label for="email">Email*</label>
            <input type="email" id="email" formControlName="email">
        </div>
        <div class="password">
            <label>Password *</label>
            <input type="password" formControlName="password">
        </div>

        <!-- Regular & social login buttons -->
        <div class="loginBtns">
            <a mat-icon-button [href]="apiUrl+'auth/facebook'" class="facebookLoginBtn">
                <i class="fab fa-facebook-square"></i>
            </a>
            <button mat-raised-button  color="primary" (click)="login()" class="regularLoginBtn">
                <span>Login</span>
            </button>
            <br><br>
            <button mat-button class="forgotBtn">
                Forgot Password
            </button>
            <a mat-icon-button [href]="apiUrl+'auth/google'" class="googleLoginBtn">
                <i class="fab fa-google"></i>
            </a>
            <a mat-icon-button (click)="fbAuth()" class="fbAltBtn">
                <i class="fab fa-facebook"></i>
            </a>
        </div>

    </form>
</div>
