<div class="content_wrap">
    <div class="Title content">
        <h1 class="Main_title_sign_up">Let's get you started</h1>
    </div>
    <div class="Looking content">
        <div class="Looking_title">
            <h3 class="Looking_title_text title_text">What are you here for</h3>
        </div>
        <div class="Looking_buttons">
            <button class="Looking_button_Candidate btn" [class.selectedRole]="isCandidate"
                    (click)="toggleCandidateRec()">Looking For Candidate
            </button>
            <button class="Looking_for_job btn" [class.selectedRole]="!isCandidate" (click)="toggleCandidateRec()">
                Looking For A Job
            </button>
        </div>
    </div>

    <form [formGroup]="registerForm">
        <div class="Form_candidate content">
            <div class="form_title">
                <h2 class="title_text">Great! Lets get you set up</h2>
            </div>
            <div class="form_inputs">
                <div class="email">
                    <label for="email">{{isCandidate ? 'Email *' : 'Organization or Personal Email *'}}</label>
                    <input type="email" id="email" formControlName="email">
                </div>
                <div class="password">
                    <label>Password *</label>
                    <input type="password" formControlName="password">
                </div>
                <div class="first_name">
                    <label>First Name *</label>
                    <input type="text" formControlName="first_name">
                </div>

                <div class="phone">
                    <label>Phone Number *</label>
                    <input type="phone" formControlName="phone">
                </div>
                <div class="retry_password">
                    <label>Retype Password *</label>
                    <input type="password">
                </div>
                <div class="last_name">
                    <label>Last Name *</label>
                    <input type="text" formControlName="last_name">
                </div>

                <ng-container *ngIf="isCandidate">
                    <div class="desired_industry">
                        <label>Desired Industry *</label>
                        <select>
                            <option></option>
                            <option>1</option>
                            <option>2</option>
                        </select>
                    </div>
                    <div class="desired_role">
                        <label>Desired role *</label>
                        <select>
                            <option></option>
                            <option>1</option>
                            <option>2</option>
                        </select>
                    </div>
                    <div class="job_type">
                        <label>Job Type*</label>
                        <select>
                            <option></option>
                            <option>1</option>
                            <option>2</option>
                        </select>
                    </div>
                </ng-container>
            </div>
        </div>
        <div class="Profile content">
            <div class="Profile_data">
                <div class="Profile_image_pictures">
                    <p>Profile Image</p><img class="glimpse_image_item" src="assets/images/img_avatar3.png"
                                             alt="persons">
                </div>
                <ng-container *ngIf="isCandidate">
                    <div class="Profile_scills">
                        <p class="Profile_scills_title">Top 3 Skills <span class="Profile_scills_title_italic">(they will help us finding the best recruiter for you)</span>
                        </p>
                        <div class="skills">
                            <div class="skills_buttons delete center">Java<span class="delete">X</span></div>
                            <div class="skills_buttons add center">Add<span class="add">+</span></div>
                        </div>
                    </div>
                </ng-container>
            </div>
            <div class="Lindkedin_profile">
                <label class="Lindkedin_section_text">Linkedin URL *</label>
                <input type="text" placeholder="https://www.linkedin.com/in/">
            </div>
            <div class="referralEmails" *ngIf="isCandidate">
                <label class="Lindkedin_section_text" for="referralEmails">Referral Emails (Previous Candidates)</label>
                <mat-form-field class="example-chip-list">
                    <mat-chip-list #chipList aria-label="Fruit selection">
                        <mat-chip *ngFor="let email of referralEmails" [selectable]="true"
                                  [removable]="true" (removed)="removeReferralEmail(email)">
                            {{email}}
                            <mat-icon matChipRemove>cancel</mat-icon>
                        </mat-chip>
                        <input id="referralEmails"
                               [matChipInputFor]="chipList"
                               [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                               [matChipInputAddOnBlur]="true"
                               (matChipInputTokenEnd)="addReferralEmail($event)">
                    </mat-chip-list>
                </mat-form-field>
            </div>
            <div class="Button_sign_up">
                <button class="btn" (click)="registerUser()">Sign Up</button>
            </div>
        </div>
    </form>
    <app-register-candidate-step2></app-register-candidate-step2>
    <app-register-recruiter-step2></app-register-recruiter-step2>
</div>

