<!--<nav class="{{appTheme}} mat-app-background">-->
<!--    <mat-toolbar>-->

<!--        <div class="leftGroup">-->
<!--            <button mat-icon-button [matTooltip]="'Profile'" (click)="router.navigate(['auth/profile'])"-->
<!--                    *ngIf="router.url.includes('profile')">-->
<!--                <i class="fa fa-user"></i>-->
<!--            </button>-->
<!--        </div>-->

<!--        <div class="centerGroup">-->

<!--        </div>-->

<!--        <div class="rightGroup">-->
<!--            &lt;!&ndash; Settings button and its menu &ndash;&gt;-->
<!--            <button mat-icon-button [matMenuTriggerFor]="menu" [matTooltip]="'Settings'" class="settings">-->
<!--                <i class="fa fa-cog"></i>-->
<!--            </button>-->
<!--            <mat-menu #menu="matMenu" class="{{appTheme}}">-->
<!--                <mat-card>-->
<!--                    <div class="themeToggler">-->
<!--                        <small>Theme</small>-->
<!--                        <mat-divider></mat-divider>-->
<!--                        <div class="togglerContainer">-->
<!--                            light-->
<!--                            <mat-slide-toggle color="primary" (change)="changeTheme()"-->
<!--                                              [checked]="appTheme==='dark'">dark-->
<!--                            </mat-slide-toggle>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </mat-card>-->
<!--            </mat-menu>-->

<!--            &lt;!&ndash; Logout button &ndash;&gt;-->
<!--            <button mat-icon-button [matTooltip]="'Logout'" (click)="logout()" *ngIf="auth.loggedIn()">-->
<!--                <mat-icon>exit_to_app</mat-icon>-->
<!--            </button>-->
<!--        </div>-->

<!--    </mat-toolbar>-->
<!--</nav>-->
<header>
    <div class="logo" (click)="router.navigate(['/'])">Sk<img id="LogoSvg" src="assets/images/logo-green.svg">pped.io
    </div>
    <nav class="Header_nav">
        <ul>
            <li><a href="#">Recruiters</a></li>
            <li><a href="#">Companies</a></li>
            <li><a href="#">About</a></li>
        </ul>
    </nav>
    <div class="auth">
        <button [hidden]="routerUrl==='/auth/register'" (click)="router.navigate(['auth/register'])"
                *ngIf="!auth.loggedIn()">Sign Up
        </button>
        <button class="open_login" data-modal-target="#modal" (click)="openLogin()" *ngIf="!auth.loggedIn()">Log in
        </button>
        <strong class="authUser" *ngIf="auth.loggedIn() && authUser">
            Hello, {{authUser.first_name + ' ' + authUser.last_name}}
        </strong>
        <div class="modal" id="modal">
            <div class="modal_content center">
                <h2 class="modal_content_title">Log in to your account</h2>
                <form class="center" action="#">
                    <div class="profile_login center">
                        <label for="email">Email *</label>
                        <input id="email" type="email">
                        <label for="password">Password *</label>
                        <input id="password" type="password">
                    </div>
                    <div class="modal_submit center">
                        <input class="btn log_in" type="submit" value="Log in">
                        <input class="btn forgot" type="submit" value="Forgot Password?">
                    </div>
                </form>
            </div>
        </div>
        <div id="overlay"></div>
    </div>
</header>
