<section class="Header_section">
    <div class="Header_section_wrapper content">
        <div class="Header_section_text">
            <h1> Take bady </h1>
            <p> of your job application </p>
        </div>
        <button> Start Applying Now</button>
        <div class="Logo_big_img"><img src="assets/images/logo-green-2x.png"></div>
    </div>
</section>
<section class="How_it_works">
    <div class="How_it_works_wrapper content">
        <div>
            <h2 class="How_it_works_main_text"> How it works </h2>
            <ul class="How_it_works_List">
                <li class="How_it_works_item">
                    <img src="assets/images/svg/recruitment.svg" alt="recruitment">
                    <!--                    <span class="svg_item">-->
                    <!--            <svg height="100" width="100">-->
                    <!--              <circle cx="50" cy="50" r="40" stroke="grey" stroke-width="3" fill="white">  Sorry, your browser does not support inline SVG.</circle>-->
                    <!--            </svg></span>-->
                    <p> You start by searching for a specific role, field or company </p>
                </li>
                <li class="How_it_works_item">
                    <img src="assets/images/svg/hired.svg" alt="hired">
                    <!--                    <span class="svg_item">-->
                    <!--            <svg height="100" width="100">-->
                    <!--              <circle cx="50" cy="50" r="40" stroke="grey" stroke-width="3" fill="white">  Sorry, your browser does not support inline SVG.</circle>-->
                    <!--            </svg></span>-->
                    <p>You will then be served with recruiters that fit your needs. Select a recruiter and start the
                        process</p>
                </li>
                <li class="How_it_works_item">
                    <img src="assets/images/svg/video-conference.svg" alt="video_conference">
                    <!--                    <span class="svg_item">-->
                    <!--            <svg height="100" width="100">-->
                    <!--              <circle cx="50" cy="50" r="40" stroke="grey" stroke-width="3" fill="white">  Sorry, your browser does not support inline SVG.</circle>-->
                    <!--            </svg></span>-->
                    <p> Get matched with one or multiple recruiters and start applying to jobs </p>
                </li>
                <li class="How_it_works_item">
                    <img src="assets/images/svg/interview.svg" alt="interview">
                    <!--                    <span class="svg_item">-->
                    <!--            <svg height="100" width="100">-->
                    <!--              <circle cx="50" cy="50" r="40" stroke="grey" stroke-width="3" fill="white">  Sorry, your browser does not support inline SVG.</circle>-->
                    <!--            </svg></span>-->
                    <p> Get periodical updates on your applications and start interviewing </p>
                </li>
                <li class="How_it_works_item">
                    <img src="assets/images/svg/handshake.svg" alt="handshake">
                    <!--                    <span class="svg_item">-->
                    <!--            <svg height="100" width="100">-->
                    <!--              <circle cx="50" cy="50" r="40" stroke="grey" stroke-width="3" fill="white">  Sorry, your browser does not support inline SVG.</circle>-->
                    <!--            </svg></span>-->
                    <p> Once an offer comes through you can evaluate it and reach a decision </p>
                </li>
                <li class="How_it_works_item">
                    <!--                    <span class="svg_item">-->
                    <img src="assets/images/svg/rating.svg" alt="rating">
                    <!--            <svg height="100" width="100">-->
                    <!--              <circle cx="50" cy="50" r="40" stroke="grey" stroke-width="3" fill="white">  Sorry, your browser does not support inline SVG.</circle>-->
                    <!--            </svg></span>-->
                    <p> Offer accepted? Then we close the loop and you get to rate your experience </p>
                </li>
            </ul>
        </div>
    </div>
</section>
<section class="job_search">
    <div class="job_search_wrapper content">
        <div class="job_search_main_text"> Job search on your terms</div>
        <div class="job_search_input center">
            <input type="text" placeholder="start the search...">
            <button> Find Job</button>
        </div>
    </div>
</section>
<section class="infinite">
    <div class="infinite_wrapper content">
        <div class="infinite_main_text">
            <h2> Infinite Possibilities </h2>
            <p> Working with the top companies in the country </p>
        </div>
        <div class="infinite_Logo center"><span class="infinite_brend">
        <svg height="60" width="60">
          <circle cx="30" cy="30" r="25" stroke="grey" stroke-width="3" fill="white">  Sorry, your browser does not support inline SVG.  </circle>
        </svg></span><span>
        <svg height="60" width="60">
          <circle cx="30" cy="30" r="25" stroke="grey" stroke-width="3" fill="white">  Sorry, your browser does not support inline SVG. </circle>
        </svg></span></div>
        <div class="infinite_Logo center"><span class="infinite_brend">
        <svg height="60" width="60">
          <circle cx="30" cy="30" r="25" stroke="grey" stroke-width="3" fill="white">  Sorry, your browser does not support inline SVG. </circle>
        </svg></span><span>
        <svg height="60" width="60">
          <circle cx="30" cy="30" r="25" stroke="grey" stroke-width="3" fill="white">  Sorry, your browser does not support inline SVG. </circle>
        </svg></span></div>
    </div>
</section>
<section class="ghosting">
    <div class="ghosting_wrapper content">
        <div class="ghosting_item">
            <img src="assets/images/svg/application.svg" alt="video_conference">
            <!--            <span class="ghosting_svg">-->
            <!--        <svg height="200" width="200">-->
            <!--          <circle cx="100" cy="100" r="90" stroke="grey" stroke-width="3" fill="white">  Sorry, your browser does not support inline SVG. </circle>-->
            <!--        </svg></span>-->
            <div class="ghosting_item_content">
                <h2 class="ghosting_main">No more ghosting</h2>
                <p class="ghosting_main_text"> 1 out of every 9 candidates gets a response once spoken to a
                    recruiter </p>
            </div>
        </div>
        <div class="ghosting_item">
            <div class="ghosting_item_content">
                <h2 class="ghosting_main">No more copy + pasting</h2>
                <p class="ghosting_main_text"> On average a candidate sends 150 resumes before landing a job </p>
            </div>
            <img src="assets/images/svg/resume.svg" alt="video_conference">
            <!--            <span class="ghosting_svg">-->
            <!--        <svg height="200" width="200">-->
            <!--          <circle cx="100" cy="100" r="90" stroke="grey" stroke-width="3" fill="white">  Sorry, your browser does not support inline SVG.</circle>-->
            <!--        </svg></span>-->
        </div>
        <div class="ghosting_button">
            <button> Change The Way You Apply</button>
        </div>
    </div>
</section>
<section class="glimpse">
    <div class="glimpse_wrapper content">
        <div class="glimpse_content">
            <h1 class="glimpse_main">A glimpse of our talent</h1>
            <p class="glimpse_main_text">Hundreds of recruiters waiting to help you find the job you want</p>
        </div>
        <div class="glimpse_image center">
            <figure>
                <p class="center"><img class="glimpse_image_item" src="assets/images/img_avatar3.png" alt="persons"></p>
                <figcaption>
                    <h3> Claudia Owen </h3>
                    <p> Recruiting for Machine Learning </p>
                </figcaption>
            </figure>
            <figure>
                <p class="center"><img class="glimpse_image_item" src="assets/images/img_avatar3.png" alt="persons"></p>
                <figcaption>
                    <h3> Franklin Bishop </h3>
                    <p> Recruiting for Autonomous Cars </p>
                </figcaption>
            </figure>
        </div>
    </div>
</section>
