<!--<p>-->
<!--  application-details works!-->
<!--</p>-->



<div class="recruter-profile-modal">
  <span class="modal__close">X</span>
  <div class="Recruiter_box">
    <p class="posted">posted <span>yesterday</span></p>
    <img class="user__img" src="assets/images/img_avatar3.png">
    <h1>Software Developer</h1>
    <h5>Full-time Role</h5>
    <h5>San Francisco, CA</h5>
    <h6></h6>

    <h4>Job Description</h4>
    <p>Facebook is looking for a software developer to support us in discovering new opportunities in various markets. We need an individual that is passionate and curious about the world, discovering how people live, businesses work and how products and software can solve the problems we discover……</p>
    <h4>Preferred Skills | <span>100% Match</span></h4>

    <div class="skills_btns">
      <button>Java</button>
      <button>React Native</button>
      <button>Research</button>
      <button>Master Degree</button>
    </div>
    <button class="got_it_btn">Got it!</button>
  </div>
</div>
