<p>
  register-recruiter-step2 works!
</p>
<div class="form_section">
<div class="Form_candidate content">
  <div class="form_title">
    <h1 class="signup_Title">Now, lets post your first job</h1>
    <h3 class="signup_SubTitle">Enter Job detailss</h3>
  </div>
  <div class="form_inputs">
    <div class="job-title">
      <label>Job Title *</label>
      <input type="text" formControlName="job_title">
    </div>

    <div class="company">
      <label>Company *</label>
      <input type="text" formControlName="company">
    </div>
    <div class="location">
      <label>Location *</label>
      <input type="text" formControlName="location">
    </div>

    <div class="industry">
      <label>Industry *</label>
      <select>
        <option></option>
        <option>1</option>
        <option>2</option>
      </select>
    </div>
    <div class="full-time_part-time_contract">
      <label>Full-time | Part-time | Contract *</label>
      <select>
        <option></option>
        <option>1</option>
        <option>2</option>
      </select>
    </div>

  </div>
  <div class="job-description">
    <label>Job Description</label>
    <textarea></textarea>
  </div>
</div>
<div class="Profile content">
  <div class="Profile_data">
    <div class="Profile_scills">
      <p class="Profile_scills_title">Preferred Skills</p>
      <div class="skills">
        <div class="skills_buttons delete center">Java<span class="delete">X</span></div>
        <div class="skills_buttons add center">Add<span class="add">+</span></div>
      </div>
    </div>
  </div>

  <div class="signUp2_btns">
    <button class="postJob_btn">Post Job</button>
    <button class="skip_btn">Skip</button>
  </div>
</div>
</div>
