
<div class="recruter-profile-modal">
  <span class="modal__close">X</span>
  <div class="Recruiter_box">
    <img class="Recruiters_img" src="assets/images/img_avatar3.png">
    <h4 class="Recruiter_name">Specialized in Machine Learning</h4>
    <h5 class="Recruiter_position">San Francisco, CA</h5>
    <div class="rate">
      <input type="radio" id="star5-3" name="rate" value="5"/>
      <label for="star5-3" title="text">5 stars</label>
      <input type="radio" id="star4-3" name="rate" value="4"/>
      <label for="star4-3" title="text">4 stars</label>
      <input type="radio" id="star3-3" name="rate" value="3"/>
      <label for="star3-3" title="text">3 stars</label>
      <input type="radio" id="star2-3" name="rate" value="2"/>
      <label for="star2-3" title="text">2 stars</label>
      <input type="radio" id="star1-3" name="rate" value="1"/>
      <label for="star1-3" title="text">1 star</label>
    </div>
    <div class="Job_Offerings">
      <h2 class="Job_Offerings_title">Job Offerings (3)</h2>
      <ul>
        <li>Software Developer | San Francisco</li>
        <li>Senior Software Developer | San Francisco</li>
        <li>Firmware Developer | San Jose</li>
      </ul>
    </div>
    <button class="got_it_btn">Got it!</button>
  </div>
</div>
