<div class="dashboard_body content">

  <div class="recruiter_top_section">
    <div class="reviews">
      <h1>Hello, Anna</h1>
      <div class="rate">
        <input type="radio" id="star5" name="rate" value="5"/>
        <label for="star5" title="text">5 stars</label>
        <input type="radio" id="star4" name="rate" value="4"/>
        <label for="star4" title="text">4 stars</label>
        <input type="radio" id="star3" name="rate" value="3"/>
        <label for="star3" title="text">3 stars</label>
        <input type="radio" id="star2" name="rate" value="2"/>
        <label for="star2" title="text">2 stars</label>
        <input type="radio" id="star1" name="rate" value="1"/>
        <label for="star1" title="text">1 star</label>
      </div>
      <a href="">3 reviews</a>
    </div>

    <div class="recruter-info-results">
      <div class="">
        <p>My Slots (2/5 filled)</p>
        <div class="stage-rate">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
      <div>
        <p>My Response Time</p>
        <span>3 hours</span>
      </div>
      <div>
        <p>Last Update Sent</p>
        <span>2 days ago</span>
      </div>
      <div>
        <p>Active Jobs</p>
        <span>5 jobs</span>
      </div>
      <div>
        <p>Pending</p>
        <span>2 applicants</span>
      </div>
    </div>
  </div>

  <div class="dashboard_sections">
    <div class="dashboard_top_info">
      <h2 class="dashboard__title">My Applications <a href="">See all my applications</a></h2>
      <div class="filters">
        <span>Filter By</span>
        <a href="">Last Updated</a>
        <a href="">Stage</a>
      </div>
    </div>

    <div class="applications_boxes">

      <div class="applications_box">
        <p class="updated_text">updated <span>2 days</span> ago</p>

        <img class="app_img" src="assets/images/img_avatar3.png">
        <span class="google_text">Daisy Murphy</span>
        <h6>Job Title</h6>
        <p>Software Developer</p>
        <div class="stage">
          <h6>Stage 2</h6>
          <div class="stage-rate">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </div>

        </div>
        <p>Application Submitted</p>
        <h6>Company</h6>
        <div class="recruter_info">
          <img class="app_img2" src="assets/images/gg.png">
          <p>Google</p>
        </div>
        <div class="app_bottom_btns">
          <button class="req_update">Send Update</button>
          <button class="see_details">See Details</button>
        </div>
      </div>

      <div class="applications_box">
        <button class="Update_Requested">Update Requested</button>
        <p class="updated_text">updated <span>2 days</span> ago</p>

        <img class="app_img" src="assets/images/img_avatar3.png">
        <span class="google_text">Daisy Murphy</span>
        <h6>Job Title</h6>
        <p>Software Developer</p>
        <div class="stage">
          <h6>Stage 2</h6>
          <div class="stage-rate">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </div>

        </div>
        <p>Application Submitted</p>
        <h6>Company</h6>
        <div class="recruter_info">
          <img class="app_img2" src="assets/images/gg.png">
          <p>Google</p>
        </div>
        <div class="app_bottom_btns">
          <button class="req_update">Send Update</button>
          <button class="see_details">See Details</button>
        </div>
      </div>

      <div class="applications_box">
        <button class="Application_Closed">Application Closed</button>
        <p class="updated_text">updated <span>6 days</span> ago</p>

        <img class="app_img" src="assets/images/img_avatar3.png">
        <span class="google_text">Daisy Murphy</span>
        <h6>Job Title</h6>
        <p>Software Developer</p>
        <div class="stage">
          <h6>Stage 5</h6>
          <div class="stage-rate">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </div>

        </div>
        <p>Interviewed</p>
        <h6>Company</h6>
        <div class="recruter_info">
          <img class="app_img2" src="assets/images/gg.png">
          <p>Google</p>
        </div>
        <div class="app_bottom_btns">
          <button class="Request_Review">Request Review</button>
          <button class="see_details">See Details</button>
        </div>
      </div>
      <div class="applications_box empty__box">
        <img class="app_img" src="assets/images/add.png">
        <p>Add Slot</p>
      </div>
    </div>
  </div>

  <div class="dashboard_sections">
    <div class="dashboard_top_info">
      <h2 class="dashboard__title">Pending Connections<a href="">See all pending</a></h2>
      <div class="filters">
        <span>Filter By</span>
        <a href="">Newest</a>
        <a href="">Match</a>
      </div>
    </div>

    <div class="applications_boxes">

      <div class="applications_box">
        <button class="Update_Requested">It’s a Match (60%)</button>
        <p class="updated_text">updated <span>2 days</span> ago</p>

        <img class="app_img" src="assets/images/img_avatar3.png">
        <span class="google_text"></span>
        <h6>Job of Interest</h6>
        <p>Software Developer</p>
        <h6>Company</h6>
        <div class="recruter_info">
          <img class="app_img2" src="assets/images/yelp-logo.png">
          <p>Yelp</p>
        </div>
        <div class="app_bottom_btns">
          <button class="Submit_rating">Review</button>
          <button class="req_update">Accept</button>
          <button class="see_details">Reject</button>
        </div>
      </div>

      <div class="applications_box">
        <button class="Application_Closed">Waitlisted</button>
        <p class="updated_text">updated <span>2 days</span> ago</p>

        <img class="app_img" src="assets/images/img_avatar3.png">
        <span class="google_text"></span>
        <h6>Job of Interest</h6>
        <p>Software Developer</p>
        <h6>Company</h6>
        <div class="recruter_info">
          <img class="app_img2" src="assets/images/yelp-logo.png">
          <p>Yelp</p>
        </div>
        <div class="app_bottom_btns">
          <button class="Submit_rating">Review</button>
          <button class="req_update">Accept</button>
          <button class="see_details">Reject</button>
        </div>

      </div>

    </div>
  </div>

  <div class="dashboard_sections">
    <div class="dashboard_top_info">
      <h2 class="dashboard__title">My Jobs <a href="">See all jobs</a></h2>
      <div class="filters">
        <span>Filter By</span>
        <a href="">Views</a>
        <a href="">Popularity</a>
        <a href="">Newest</a>
      </div>
    </div>

    <div class="applications_boxes job_apps">


      <div class="applications_box">
        <p class="updated_text">updated <span>2 days</span> ago</p>

        <img class="app_img job__img" src="assets/images/gg.png">
        <div class="jobs_info">
          <h3>UX Designer</h3>
          <h5>Industry<br>
            <span>Machine Learning</span>
          </h5>
          <span>Contract Position</span>
          <span>San Jose, CA</span>
        </div>
        <div class="app_bottom_btns">
          <button class="req_update">Edit Job</button>
        </div>
        <div class="Views_info">
          <ul>
            <li>
              <h3>Views</h3>
              <p>30</p>
            </li>
            <li>
              <h3>Applications</h3>
              <p>8</p>
            </li>
            <li>
              <h3>Active Applications</h3>
              <div class="active_app_imgs">
                <img class="" src="assets/images/img_avatar3.png">
                <img class="" src="assets/images/img_avatar3.png">
                <img class="" src="assets/images/img_avatar3.png">
              </div>
            </li>
          </ul>
        </div>
      </div>

      <div class="applications_box">
        <p class="updated_text">updated <span>2 days</span> ago</p>

        <img class="app_img job__img" src="assets/images/gg.png">
        <div class="jobs_info">
          <h3>UX Designer</h3>
          <h5>Industry<br>
            <span>E-Commerce</span>
          </h5>
          <span>Full Time</span>
          <span>San Francisco, CA </span>
        </div>
        <div class="app_bottom_btns">
          <button class="req_update">Edit Job</button>
        </div>
        <div class="Views_info">
          <ul>
            <li>
              <h3>Views</h3>
              <p>5</p>
            </li>
            <li>
              <h3>Applications</h3>
              <p>2</p>
            </li>
            <li>
              <h3>Active Applications</h3>
              <div class="active_app_imgs">
                <img class="" src="assets/images/img_avatar3.png">
                <img class="" src="assets/images/img_avatar3.png">
                <img class="" src="assets/images/img_avatar3.png">
              </div>
            </li>
          </ul>
        </div>
      </div>

      <div class="applications_box empty__box">
        <img class="app_img" src="assets/images/add.png">
        <p>Add Job</p>
      </div>
    </div>
  </div>

</div>
