<!--<p>-->
<!--  recruitment-process-update works!-->
<!--</p>-->



<div class="recruter-profile-modal">
  <span class="modal__close">X</span>
  <div class="Recruiter_box">
    <h1>Update Loni</h1>
    <p>Let your candidate know where they are in the recruitment process</p>
    <h2>Details about application</h2>
    <img class="job_img" src="assets/images/gg.png">
    <h5>Google</h5>
    <h4 class="Recruiter_name">Job Title</h4>
    <h5 class="Recruiter_position">Software Developer</h5>

    <div class="Job_select">
      <label>Stage in Process*</label>
      <select>
        <option></option>
        <option>1</option>
        <option>2</option>
      </select>
    </div>
    <div class="Job_textarea">
      <label>Comments or Feedback *</label>
      <textarea></textarea>
    </div>
    <button class="Send_Update_btn">Send Update</button>
    <button class="End_Application_btn">End Application</button>
    <button class="Cancel_btn">Cancel</button>
  </div>
</div>
