<!--<p>-->
<!--  job-details works!-->
<!--</p>-->



<div class="recruter-profile-modal">
  <span class="modal__close">X</span>
  <div class="Recruiter_box">
    <h1>Rate your experience</h1>
    <h2>Details about application</h2>
    <img class="job_img" src="assets/images/gg.png">
    <h5>Google</h5>
    <h4 class="Recruiter_name">Job Title</h4>
    <h5 class="Recruiter_position">Software Developer</h5>

    <h2>How was your experience with Otmar?</h2>
    <img class="user__img" src="assets/images/img_avatar3.png">
    <div class="rate">
      <input type="radio" id="star5-3" name="rate" value="5"/>
      <label for="star5-3" title="text">5 stars</label>
      <input type="radio" id="star4-3" name="rate" value="4"/>
      <label for="star4-3" title="text">4 stars</label>
      <input type="radio" id="star3-3" name="rate" value="3"/>
      <label for="star3-3" title="text">3 stars</label>
      <input type="radio" id="star2-3" name="rate" value="2"/>
      <label for="star2-3" title="text">2 stars</label>
      <input type="radio" id="star1-3" name="rate" value="1"/>
      <label for="star1-3" title="text">1 star</label>
    </div>
    <div class="Job_textarea">
      <textarea>Write your comments or feedback</textarea>
    </div>
    <button class="submit_btn">Submit</button>
    <button class="Cancel_btn">Cancel</button>
  </div>
</div>
