$color_1: #101010;
$color_2: #000;
$color_3: #fff;
$color_4: #3c3f40;
$color_5: #444;
$color_6: var(--white-two);
$color_7: #3498db;
$color_8: #05a9ee;
$font_family_1: Helvetica, Arial, sans-serif;
$font_family_2: opensans_bold_italic, Montserrat, Helvetica, Arial, sans-serif;
$font_family_3: opensans_bold, Helvetica, Arial, sans-serif;
$font_family_4: opensans_regular, Helvetica, Arial, sans-serif;
$font_family_5: OpenSans;
$font_family_6: opensans_semibold, Montserrat, Helvetica, Arial, sans-serif;
$font_family_7: opensans_bold, Montserrat, Helvetica, Arial, sans-serif;
$font_family_8: opensans_italic, Montserrat, Helvetica, Arial, sans-serif;
$font_family_9: initial;
$font_family_10: opensans_regular, Montserrat, Helvetica, Arial, sans-serif;
$font_family_11: opensans_semibold, Helvetica, Arial, sans-serif;
$background_color_1: #fff;
$background_color_2: #36d26b;
$background_color_3: #2e3132;
$background_color_4: rgba(0, 0, 0, .5);
$background_color_5: rgba(0, 0, 0, 0);
$background_color_6: #f5f6f6;
